:root {
	--green-color: #0a775f;
	--black-color: #0000;
	--text-color: #333333;
	--white-color: #ffffff;
	--gold-bg: #f3d7b7;
	--darkgold-bg: #c99b67;
	--light-bg: #f8f8f2;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before *::after {
	box-sizing: inherit;
}
*:focus {
	outline: 2px dotted var(--green-bg);
	outline-offset: 3px;
}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: var(--text-color);
	line-height: 1.55;
	font-style: 18px;
}
.container {
	max-width: 1380px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.main-content {
	flex: 1;
}
.site-header-wrapper{
  background-color: var(--gold-bg);
}
.site-header{
  margin-bottom: 40px;
}
.site-header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo{
  width: 235px;
  height: 25px;
  display: inline-block;
}
.site-logo:hover{
  opacity: 0.8;
}
.site-logo:active{
  opacity: 0.6;
}
.site-nav{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.site-nav__item:not(:last-child){
  margin-right: 40px;
}
.site-nav__link{
  text-transform: uppercase;
  color: var(--green-color);
	text-decoration: none;
	transition: all 0.4 ease;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1.2;
}
.site-nav__link:hover{
	color: var(--green-bg);
}